<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.w0s1nsk1.ekonomapp" android:installLocation="auto" android:versionName="1.28.2" android:versionCode="12">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="27" />
	<application android:label="Mój Ekonom" android:icon="@drawable/icon"></application>
</manifest>